@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}
	html {
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
	}
}
